{% extends 'base.html' %}
{% block main_content %}

	<section class="s-1 custom-s1">
		<div class="wrp-1000">
			<div class="header-s-1 custom-marg">Заявка на восстановление пароля</div>
			<form method="post" class="user-form">
                {% csrf_token %}
<br>
<br>
<br>
<div class="inputs">
                {{form.email}}
</div>
<br>
<br>
<br>
                <button class="save-but" type="submit">Отправить</button>
            </form>
			<div class="error"></div>
		</div>
	</section>
<!-- POP-UP -->
<div class="log-pop-up">
  <div class="wrap-this">
   <div class="log-window">
       <div class="close"></div>
    <p class="header-lw">Вход в личный кабинет</p>
    <form action="{% url 'login_2'  %}" method="post" class="login-form">
 {% csrf_token %}
                        {{login_form.email}}
                        {{login_form.password}}
     <button type="submit">
      Войти в личный кабинет
      <span class="box-shadow"></span>
     </button>
    </form>
<p><a href="{% url 'forgot_password'  %}"> Забыли пароль? </a><p>
   </div>
   <div class="forgot-pass">
    Если Вас забыли свой пароль или какие то другие проблемы со входом, напишите на эл. почту <span>ponyaid@gmail.com</span>
   </div>
  </div>
 </div>

	{% endblock %}
