{% extends 'base.html' %}
{% load staticfiles %}
{% block main_content %}
  <div class="banner"></div>

	<section class="s-1">
		<div class="wrp-1000">
			<div class="header-s-1 custom-marg">Приветствую тебя, дорогой Свидетель</div>
			<div class="header-second">КОГДА ТЫ ПРОСМАТРИВАЕШЬ УРОК, ТЕБЕ НУЖНО МОЛИТЬСЯ И РАЗМЫШЛЯТЬ НАД НИМ. И КОГДА ТЫ БУДЕШЬ ПРЕБЫВАТЬ В ЭТОМ МОЛИТВЕННОМ СОСТОЯНИИ, ТО ПРОСЛУШИВАЙ УРОК 2-3 РАЗА
</div>
			<div class="block-video">
				<div class="video-wrp">
{% if video.url  %}
<iframe width="610" height="410"  src="{{video.url}}" frameborder="0" allowfullscreen></iframe>

{% else  %}
<video  controls width="600" height="340" src="{{ video.video.url }}"></video>

{% endif  %}

<a href="{% url 'archive' %}">
					<div class="archive">Перейти в архив видео</div></a>
				</div>
<aside class="video-nav">
					<div class="header-as">Видео уроки</div>
					<div class="body-as">
						{% if tasks %}
                        {% for task in tasks %}
 <a href="http://clw.com.ua{% url 'index' task.title %}">
                            <div class="post-as">
                                                        <p class="title-as">{{ task.verbose_title }}</p>
                                                        <p class="date-as">{{ task.date }}</p>
                                                </div>
                            </a>

                        {% endfor %}
                        {% endif %}
					</div>
				</aside>
			</div>
		</div>
	</section>
	<section class="private">
		<div class="wrp-1000">
<div class="watch-wrap">

                <p class="watch">Смотреть приватный эфир</p>

      <a href="{% url 'private' %}"> <div class="enter-but">Войти</div></a>

            </div>
	</section>
	<section class="test">
		<div class="wrp-1000">
			<div class="header-test">Текстовое задание №{{video.number}}</div>
			<div class="muntyan-wrp">
				<img class="muntyan" src="{{ video.image.url }}" />
				<div class="text-test">
					<div class="header-tt">
						Сегодня я даю тебе задание, которое ты должен выполнять постоянно:
					</div>
                    {% if video.description %}
                    {{ video.description|safe}}
                    {% endif %}
					<!--<ul>
						<li>
							1. С самого утра приветствуй Святого Духа, осознавая, что Он - <span>Творец неба и земли, что Он - твоя опора, Он твой фундамент, Он – твой друг.</span>
						</li>
						<li>
							2. Каждый день произноси слова: <span>«Сделал меня Господь главою, а не хвостом!»</span>. Постарайся осознать, что это есть истина! Примени это конкретно ко всем сферам своей жизни. Исповедуй эти слова в течение всего дня!
						</li>
						<li>
							3. Визуализируй себя как нового человека, как победителя!
						</li>
					</ul>-->
				</div>
			</div>	
		</div>
	</section>
<section class="s-2">
		<div class="wrp-1000">
			<div class="header-s-2">Здесь Вы можете оставить свою нужду,<br> благодарность или свидетельство</div>
<form action="{% url 'feedback' %}" method="post" class="need-form">
                        {% csrf_token %}			
	<div class="need-wrp">
					<ul>
						<li>
							<input id="id_subject_0" name="subject" type="radio" checked  value="ask" />
                            <label for="id_subject_0"> Вопрос по урокам</label>
						</li>
						<li>
							<input id="id_subject_1" name="subject" type="radio" value="need" />
                            <label for="id_subject_1"> Нужда</label>
						</li>
						<li>
							<input id="id_subject_2" name="subject" type="radio" value="thanks" />
                            <label for="id_subject_2"> Благодарность</label>
						</li>
						<li>
							<input id="id_subject_3" name="subject" type="radio" value="witness" />
                            <label for="id_subject_3"> Свидетельство</label>
						</li>
					</ul>
				</div>
				<div class="text-area-block">
					<textarea id="id_text" name="text" class="need-text" placeholder="Выберите ВОПРОС и введите сюда текст..."></textarea>
                    <button type="submit">Отправить</button>
				</div>
			</form>
		</div>
	</section>



<script src="{% static 'js/video2.js' %}"></script>


{% endblock %}
