{% extends 'base.html' %}
{% block main_content %}

<section class="s-1 custom-s1">
		<div class="wrp-1000">
			<div class="header-s-1 custom-marg">Создайте пароль</div>
			<form action="" method="post" class="main-form">
				<div class="inputs">
{% csrf_token %}

					{{ form.password1 }}
                    {{ form.password2 }}

				</div>
	<button type="submit" class="save-button">Сохранить</button>
			</form>

			<div class="error"></div>
		</div>
	</section>

{% endblock %}
